asn1crypto==0.24.0
beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
cryptography==2.1.4
enum34==1.1.6
gunicorn==19.9.0
gyp==0.1
html5lib==0.999999999
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
lxml==4.2.1
mercurial==4.5.3
mixpanel==4.3.2
nltk==3.3
numpy==1.14.3
pbr==4.3.0
pipenv==2018.7.1
psycopg2-binary==2.7.7
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
radiotray==0.7.3
scribeapp==0.0.0
SecretStorage==2.3.1
six==1.11.0
stevedore==1.29.0
vboxapi==1.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
webencodings==0.5
